@charset "UTF-8";
/* COLORES */
/* LETRAS */
/* TAMAÑOS */
/* TAMANOS LETRAS */
.padding-texto, main .main__titulo, main .main__titulo--2, main .main__samp, main .main__texto {
  padding: 0px 16px; }

.boton-animacion, .main__boton--1 button__boton--1 button :hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s; }

.img-formato, main .main__galeria--chica, main .main__img--productos {
  width: 300px;
  height: 300px; }

/* HEADER */
.header__li a {
  color: white; }

main {
  background-color: black;
  display: flex;
  flex-direction: column; }
  main .main__principal {
    display: grid;
    height: 50vw;
    background-image: url(../recursos/BODR-Hero-Image-1.jpg);
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; }
  main .main__titulo {
    text-align: center;
    color: white;
    font-family: "M PLUS Rounded 1c", 800; }
  main .main__titulo--2 {
    text-align: center;
    color: white;
    font-family: "M PLUS Rounded 1c", 800; }
  main .main__samp {
    color: white;
    font-family: "M PLUS Rounded 1c", 300;
    text-align: center;
    display: block; }
  main .main__texto {
    background-color: black;
    color: white;
    font-family: "M PLUS Rounded 1c", 300; }
  main .main__texto--2 {
    background-color: black;
    color: white;
    font-family: "M PLUS Rounded 1c", 300;
    padding: 20px 16px; }
  main .main__imagen--principal {
    padding: auto;
    width: 100%;
    height: 900px; }
  main .main__galeria {
    background-color: black;
    padding: 50px;
    display: flex; }
  main .main__img--productos {
    padding: 20px 20px; }
  main .main__select {
    margin: 16px;
    display: flex;
    width: 80px;
    height: 25px; }
  main .main__botones {
    background-color: #1410e0;
    border: #1410e0 solid 10px;
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin: 16px; }
    main .main__botones:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.3s; }

.main__boton--1 button {
  width: 200px;
  height: 60px; }

.main__producto {
  border: white solid 2px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main__spotify {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main__venta {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 35rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }

.producto__tarjeta {
  margin: 20px; }

.videos {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.redes {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.redes__sociales {
  margin: 20px; }

.main__boton {
  background-color: #1410e0;
  border: #1410e0 solid 10px;
  border-radius: 15px;
  color: white;
  height: 60px;
  width: 150px;
  margin: 15px; }

/* FOOTER */
footer {
  padding: 24px;
  display: grid;
  grid-template-areas: "derechos nav iconos";
  background-color: black; }
  footer .footer__derechos {
    grid-area: derechos; }
  footer .footer__iconos {
    grid-area: iconos;
    display: flex;
    justify-content: end;
    align-items: flex-end; }
  footer .footer__nav {
    grid-area: nav; }
  footer .footer__titulo {
    color: white;
    font-family: "M PLUS Rounded 1c", 300; }
  footer .footer__texto {
    color: white;
    font-family: "M PLUS Rounded 1c", 300; }
  footer .footer__li {
    padding: 20px;
    font-family: "M PLUS Rounded 1c", 300;
    color: white; }
  footer .footer__li--2 {
    padding: 10px;
    font-family: "M PLUS Rounded 1c", 300;
    color: white;
    list-style: none; }
  footer .footer__img {
    padding: 20px;
    width: 70px; }

/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  header {
    height: auto; }
  .header__nav {
    flex-grow: 0; }
  .header__lista {
    flex-direction: row;
    flex-wrap: wrap; }
  .main__principal {
    background-size: cover;
    background-position: center;
    background-image: url(../recursos/portada-celu.jpeg);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
  .main__boton--1 {
    grid-column: 2/3;
    grid-row: 2/2;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .main__boton--1 button {
    width: 200px;
    height: 60px; }
  .redes {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .footer__iconos {
    grid-area: iconos;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start; } }

/* MEDIA QUERIE DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto; }
  .header__nav {
    flex-direction: column; }
  .header__lista {
    flex-direction: column; }
  .main__principal {
    display: grid;
    height: 100vh;
    background-image: url(../recursos/portada-celu.jpeg);
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .main__boton--1 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .main__boton--1 button {
    width: 200px;
    height: 60px; }
  .redes {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  footer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: black; }
  .footer__iconos {
    grid-area: iconos;
    display: flex;
    flex-direction: row;
    align-items: flex-start; } }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: black; }

.letra__formulario {
  color: white; }

.main__discos {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }

.musica__tarjeta {
  margin: 40px; }

.musica__tarjeta--letars {
  color: white;
  font-family: "M PLUS Rounded 1c", 300; }

.carrusel {
  background-color: black; }

.carrusel__altura {
  height: 500px;
  display: flex; }

.margen__seccion {
  margin: 20px; }
