/* FOOTER */

footer{
    padding: 24px ;
    display: grid;
    grid-template-areas: "derechos iconos";
    background-color: rgb(0, 0, 0);
    .footer{
        &__derechos{
            grid-area: derechos;
        }
        
        &__iconos{
            grid-area: iconos;
            display: flex;
            justify-content: end;
            align-items: flex-end;
        }
        
        &__titulo{
            color: $font-color;
            font-family: $font-principal;
        }
        
        &__texto{
            color: $font-color;
            font-family: $font-principal;
        }
        
        &__li{
            padding: 20px;
            font-family: $font-principal;
            color: $font-color;
        }
        
        &__img{
            padding: 20px;
            width: $tamano-iconos;
        }
    }
}
