/* COLORES */
$color-principal :rgb(0, 0, 0);
$color-secundario :rgb(20, 16, 224) ;

/* LETRAS */
$font-principal :  'M PLUS Rounded 1c', 300;
$font-titulos :  'M PLUS Rounded 1c', 800;
$font-color :rgb(255, 255, 255) ;

/* TAMAÑOS */
$tamano-iconos :70px;


/* TAMANOS LETRAS */
$contenido: 1rem;
$titulos: $contenido *2;
