@import"variables";
@import"operators";
@import"nav";
@import"main";
@import"footer";
@import"mediaquieries"; 


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: $color-principal;
}

.letra__formulario{
    color: $font-color;
}

.main__discos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.musica__tarjeta{
    margin: 20px;
}

.musica__tarjeta--letars{
    color: $font-color;
    font-family: $font-principal;
}


.carrusel{
    background-color: $color-principal;
}

.carrusel__altura{
    height: 500px;
    display: flex;
}

