@import"variables";
@import"operators";
@import"mediaquieries"; 
@import"main";
@import"footer";
@import"nav";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: $color-principal;
}

.letra__formulario{
    color: $font-color;
}

.main__discos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .musica__uno{
        grid-template-columns: 1/2;
        grid-template-rows: 1/2;
    }
    
    .musica__dos{
        grid-template-columns: 2/3;
        grid-template-rows: 1/2;
    }
    
    .musica__tres{
        grid-template-columns: 3/4;
        grid-template-rows: 1/2;
    }
    
    .musica__cinco{
        grid-template-columns: 1/2;
        grid-template-rows: 1/2;
    }
    
    .musica__seis{
        grid-template-columns: 2/3;
        grid-template-rows: 2/3;
    }
}



.musica__tarjeta{
    margin: 20px;
}

.musica__tarjeta--letars{
    color: $font-color;
}


.carrusel{
    background-color: $color-principal;
}

.carrusel__altura{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

